@{
ViewData["Title"] = "Movie List";
}

<h2 class="text-4xl">@ViewData["Title"] - Movie App</h2>
<button type="submit" class="btn btn-secondary my-6">This is a button</button>
<p>Hello from our View Template!</p>