@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-6xl">Welcome</h1>
    <p>Learn about <a class="hover:text-secondary" target="_blank" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>